:root{
    --bleu: #1627E0;
    --bleu-clair: #414FEC;
}

body{
    background-color: #FCFCFC;
}
/*menu*/
.dropdown-menu{
    background-color: var(--bleu-clair);
}
.dropdown-menu li a{
    color: white;
}
nav{
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.nav-item a{
    color: black;
}
.nav-item a:hover{
    color: var(--bleu);
}
.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}h2{
    color: #081158
}

.dropdown-menu{
    transition: 0.3s ease;
}
/*section heros*/
h1 strong{
    color: var(--bleu-clair);
}
.heros{
    background-image: url(images/home-bg.jpg.jpeg);
}
.hero-section{
    position: relative;
    /*padding-bottom: 10px;*/
}
.hero-section h1{
    color: #081158
}

.info{
    margin-top: -70px;
    position: relative;
    z-index: 10;
}

.info .shadow-sm{
    background: white;
    border-radius: 20px;
    min-height: 100px;

    display: flex;
    align-items: center;
}

.info i{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    font-size: 22px;
}

.info h3{
    margin-bottom: 0;
    font-weight: bold;
    color: #0b1b60;
}

.info p{
    margin-bottom: 0;
}

.object-fit-cover{
    object-fit: cover;
}

.info-card h2{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    font-size: 22px;
}
.info-card .shadow{
    background-color: white;
}
.info-card .info1{
    background-color: rgb(248, 161, 111);
    color: rgb(252, 92, 0);
}
.card1{
    background-image: url(images/shape-1.png);
}

.course-section a{
    background-color: #1627E0;
    color: white;
}
.course-section a:hover{
    background-color: #ff3831;
    color: white;
}

/*section cours*/
.section-cours{
    background-image: url(images/section-2.jpg.jpeg);
}

/*section forma*/
.section-forma1 a{
    background-color: #1627E0;
    color: white;
}
.section-forma1 a:hover{
    background-color: #ff3831;
    color: white;
}

.card img{
    height: 250px;
    object-fit: cover;
}

.card h5{
    color: #081158;
}

.badge-course{
    position: absolute;
    left: -15px;
    top: 40px;
    background: #4f46e5;
    color: white;
    padding: 15px 10px;
    border-radius: 8px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-weight: bold;
}



.teacher-img{
    height:260px;
    object-fit:cover;
    padding:12px;
}

.social-box{
    position:absolute;
    top:60px;
    left:12px;
    background:#4f46e5;
    display:flex;
    flex-direction:column;
    padding:20px 12px;
    gap:25px;
}

.social-box a{
    color:white;
    font-size:22px;
}

.card-body h3{
    color:#081158;
}
.section-cours h2{
    color: #081158
}
.course-section h2{
    color: #081158
}
.card-body span{
    color:#081158;
    /*font-size:18px;*/
}
.card1 h2{
    color: #081158;
}
.section-forma1 h2{
    color: #081158
}
.section-forma1 .span{
    color: #0e2aff;
}
/*about 3*/
.about3 a{
    background-color: #1627E0;
    color: white;
}
.about3 a:hover{
    background-color: #ff3831;
    color: white;
}

/*about4*/
.about4{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
}
.about3 h2{
    color: #1B0A3D;
}
.about4 .image{
    height: 35px;
    width: 35px;
}
.about4 h3{
    color: #1B0A3D;
}

/*section latest*/
.section-latest .btn{
    background-color: #1627E0;
    color: white;
}
.section-latest .btn:hover{
    background-color: #ff3831;
    color: white;
}

/*footer*/
footer{
    background-color: #F5F5F5;
   /* padding: 30px;*/
}
.footer-text{
    background-color: #DEDEDE;
}
.footer-about a{
    text-decoration: none;
    color: #0b1b60;
}
.footer-about a:hover{
    color: var(--bleu-clair);
}
.footer-popular a{
    text-decoration: none;
    color: #0b1b60;
}
.footer-popular a:hover{
    color: var(--bleu-clair);
}
.footer-text a{
    color: rgb(44, 43, 43);
}
.footer-text a:hover{
    color: white;
}
footer .icon i{
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 18px;
    text-decoration: none;
}
footer h4{
    color: #1B0A3D;
}